<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<script src="vue.min.js"></script>

	<script src="Minutes.js"></script>
	<script src="BinaryString.js"></script>
	<script src="Ticker.js"></script>

	<script src="App.js"></script>
</head>

<body>
	<div id="app">

		<table v-if="tickers">
			<thead>
				<tr>
					<th>Text</th>
					<th>Days</th>
					<th>From</th>
					<th>To</th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="ticker in tickers">
					<td>
						<input type="text" maxlength="10" size="10" v-model="ticker.text" placeholder="unset" />
					</td>
					<td>
						<select v-model="ticker.days">
							<option value="0">unset</option>
							<option value="1">mo-fr</option>
							<option value="2">sa-so</option>
							<option value="3">mo-so</option>
						</select>
					</td>
					<td>
						<input type="time" v-model="ticker.startTime" />
					</td>
					<td>
						<input type="time" v-model="ticker.endTime" />
					</td>
					<td>
						<input type="checkbox" v-model="ticker.active" />
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						<button v-on:click="save">save</button>
					</td>
				</tr>
			</tfoot>
		</table>

	</div>
</body>

</html>
